.quote {
    margin-left: 25%;
    margin-right: 10%;
    display: flex;
    width: 30rem;
}
.fishquote {
    display: flex;
    border: 1px dotted black;
}
.fish {
    display: grid;
}
.facts {
    display: flex;
    border: 1px dotted black;
}